

* {
    margin: 2;
    padding: 2;
    box-sizing: border-box;
    
}

.container {
    display: flex;
    justify-content: center;
    margin: 1em;
    padding: 1em;
}

.flex-item-1 {
    box-shadow: .5rem .5rem .5rem .1rem rgba(0, 0, 0, 0.086);

}
.flex-item-2 {
    box-shadow:  .5rem .5rem .5rem .1rem rgba(0, 0, 0, 0.086);
	
}

.flex flex-item-2 {
    
}

.flex flex-item-2 {

}